# Environment & Secrets
.env
.env.local
.env.*.local

# Ansible
ansible/inventoryHomeServer.ini

# Ansible
*.retry

# OS
.DS_Store
Thumbs.db

# Logs & Temporals
*.log
*.tmp
*.bak

# Editors
.idea/
.vscode/
*.swp
*.swo
*~