# Environment & Secrets
.env
.env.local
.env.*.local

# Ansible
*.ini
*.retry

# OS
.DS_Store
Thumbs.db

# Logs & Temporals
*.log
*.tmp
*.bak

# Editors & IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Claude
.claude/
